<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/AdminLayout.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminIndex.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminProduct.css")" />


</head>
<body>
        <div class="navAdmin">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class='bx bx-user-circle'></i></span>
                        <span class="title">Xin chào, Admin !</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <span class="icon"><i class='bx bx-home'></i></span>
                        <span class="title">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ViewProduct", "Admin")">
                        <span class="icon"><i class='bx bxs-package'></i></span>
                        <span class="title">Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Customer", "Admin")">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <span class="title">Người dùng</span>
                    </a>
                </li>

                @*<li>
                    <a href="@Url.Action("ManageOrders", "Admin")">
                        <span class="icon"><i class='bx bxs-cart'></i></i></i></span>
                        <span class="title">Đơn hàng</span>
                    </a>
                </li>*@
                @*<li>
                    <a href="">
                        <span class="icon"><i class='bx bx-cog'></i></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><i class='bx bx-lock-alt'></i></span>
                        <span class="title">Password</span>
                    </a>
                </li>*@
                <li>
                    <a href="@Url.Action("Signout", "Admin")">
                        <span class="icon"><i class='bx bx-log-out'></i></span>
                        <span class="title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div> 
    <div class="main">
            @*<div class="top-nav">
                <div class="searchAdmin">
                    <label>
                        <input type="text" placeholder="Search here" />
                        <div class="icon-card"><i class='bx bx-search-alt-2'></i></div>
                    </label>
                </div>

                <div class="user">
                    <a href="">
                        <img src="~/Content/img/2.jpg" />
                    </a>
                </div>
            </div>*@


            <div>
                @RenderBody()
            </div>
        </div>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>